<%- include ../partials/header.ejs %>


<%- include ../partials/nav.ejs %>

<hr>

<!--INTRO JUMBOTRON-->
<div class="container">
  <section id="header" class="jumbotron mainImage mt-5">
    <h1 class="display-4">Welcome to my blog!</h1>
    <p class="lead">I’m Joe and just as my Twitter handle states – “a Children’s Physiotherapist with other interests”</p>
    <p>I’m hoping we will all be able to learn from this site so please leave comments, let me know about your experiences and tell me about where I’m going wrong too!</p>
    <a id=button class="btn btn-primary btn-lg" href="#post" role="button">Latest Post</a>
  </section>
</div>

<!--LINK TO OTHER POST THUMBNAILS-->
<section id="previousPosts">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-3">
        <div class="card h-100">
        <img id="thumb" src="https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
        <h4 class="card-title">The Trials & Tribulations of Inclusive PE – Is it really that hard?</h4>
        <p class="card-text">I’m going to kick off my blogs with a pretty serious topic. “Go hard or go home”, right?!</p>
        <a href="/blogpost" id="buttonPost" class="btn btn-outline-success btn-sm"><small class="">Read More...</small></a>
        </div>
        </div>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="card h-100">
          <img id="thumb" src="https://images.unsplash.com/photo-1489710437720-ebb67ec84dd2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
          <h5 class="card-title">#ThisKidCAN</h5>
          <p class="card-text">#ThisKidCAN was a free, disabled sports event which was organised by myself and two amazing colleagues during my time spent working within the borough of Harrow.</p>
          <a href="/blogposttwo" id="buttonPost" class="btn btn-outline-success btn-sm"><small class="">Read More...</small></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--BLOG POST-->
<%- include ../partials/index/congenitalmusculartorticollis.ejs %>
		  
<!--COMMENTS SECTION-->
<%- include ../partials/index/commentsection.ejs %>

<!--ABOUT ME-->
<%- include ../partials/index/aboutme.ejs %>   

<!--READ MORE BUTTON-->
<%- include ../partials/readmore.ejs %>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>